.App-link {
  color: #61dafb;
}
.container{
  display:flex;
}
.cart{
  padding-left: 100px;
  border-left: 1px solid lightgrey;
  
  color:seagreen;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
